@import "partials/media_query";
@import "partials/pagination";
@import "partials/list";
@import "partials/footer";
@import "partials/overwrite_theme";
@import "partials/affiliate";
@import "partials/product_info";

body {
  background: no-repeat;
  background-size: contain;
  padding: 0;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

article > p {
  text-indent: 1em;
  word-break: break-all;
}
