$main_color: #26C6DA;
$accent_color: #FF4081;

@import "partials/media_query";
@import "partials/pagination";
@import "partials/list";
@import "partials/footer";
@import "partials/overwrite_theme";
@import "partials/affiliate";
@import "partials/product_info";
@import "partials/gsc_searchbox";
@import "partials/content";
@import "partials/for_chips";

article > p {
  text-indent: 1em;
  word-break: break-all;
}

a {
  color: darken($main_color, 20%);

  &:hover {
    color: $accent_color;
  }
}