<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    {{- $description := .Description -}}
    {{- if .IsHome -}}
        {{- $description = $.Site.Params.description -}}
    {{- end -}}
    {{- with $description -}}
    {{- else -}}
        {{- $description = .Summary -}}
    {{- end -}}
    <meta name="description" content="{{ $description }}"/>
    {{ if (fileExists "static/apple-touch-icon.png") -}}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    {{ end -}}
    {{ if (fileExists "static/favicon-32x32.png") -}}
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    {{ end -}}
    {{ if (fileExists "static/favicon-16x16.png") -}}
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    {{ end -}}
    {{ if (fileExists "static/site.webmanifest") -}}
        <link rel="manifest" href="/site.webmanifest">
    {{ end -}}
    {{ if (fileExists "static/safari-pinned-tab.svg") -}}
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    {{ end -}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
          integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
    {{- $theme_css_a := resources.Get "css/latolatinfonts.css" -}}
    {{- $theme_css_b := resources.Get "css/style.css" -}}
    {{- $theme_css_c := resources.Get "css/xcode.css" -}}
    {{- $concat_style := slice $theme_css_a $theme_css_b $theme_css_c | resources.Concat "css/bundle.css" -}}
    {{- $theme_style := $concat_style | resources.PostCSS (dict "config" "postcss.config.js" "noMap" true) -}}
    <link rel="stylesheet" href="{{ $theme_style.Permalink }}"/>
    <link rel="stylesheet"
          href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"/>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    {{- $sass := resources.Get "sass/style.scss" -}}
    {{- $sass_option := ( dict "targetPass" "style.css" "outputStyle" "compressed" "enabledSourceMap" false) -}}
    {{- $style := $sass | resources.ToCSS $sass_option -}}
    {{- $css := $style | resources.PostCSS (dict "config" "postcss.config.js" "noMap" true) -}}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ template "_internal/google_analytics.html" . }}
    {{ if isset $.Site.Params "bgimg" -}}
        <style>
            body {
                background: #ecedef url("{{ $.Site.Params.bgimg | absURL | safeCSS }}") no-repeat;
                background-size: contain;
            }
        </style>
    {{- end }}
</head>