{{ with .Params.product }}
    <div class="affiliate">
        {{ with .kaeyome }}
            {{ safeHTML . }}
        {{ end }}
        {{ with .amazon }}
        <a href="{{ safeHTML . }}" target="_blank" class="amazon-af-link">
            Amazonで
            {{ with $.Params.product.name }}
              {{ safeHTML . }}
            {{ else }}
              {{ with $.Params.product.number | default "商品" | safeHTML }}
              {{ end }}
            {{ end }}
            を確認する
        </a>
        {{end}}
        {{ with .rakuten }}
            {{ safeHTML . }}
        {{ end }}
    </div>
{{ end }}