// カードをホバーした際に対象が小さくなる(凹む)アニメーションを逆にする
// 選んだやつが浮き上がるようにする
.card {
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 .6rem .55rem rgba(0, 0, 0, 0.10), 0 0.35rem .8rem .12rem rgba(0, 0, 0, 0.20);
  }
}

.dropcase > p:first-of-type::first-letter {
  float: none;
  font-size: 1em;
  line-height: inherit;
  margin: 0;
}
