.product_info_area {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-flow: column wrap;
  border: 1px solid black;
  border-radius: 20px;
  padding: 16px;

  > .product_display {
    display: flex;
    flex-flow: row;
    flex: 1 0 auto;
    align-items: baseline;

    > .product_name {
      margin: 8px;
      font-size: 1em;
      align-self: baseline;
    }

    > .product_number {
      margin: 8px;
      font-size: 0.8rem;
      align-self: baseline;
    }
  }

  > .product_link {
    margin: 8px;
    overflow: hidden;
    align-self: center;
  }

  > .product_evaluation {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    align-items: baseline;

    > .product_info_rate {
      flex: 0 0 auto;
      align-self: center;
      margin: 8px;

      .rate-star {
        color: #fbc02d;
      }
    }

    > .product_comment {
      margin: 8px;
      align-self: baseline;
    }
  }
}
