.nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;

  .nav-header {
    flex: 0 0 auto;
    margin-right: 4em;
    margin-top: auto;
    margin-bottom: auto;
    align-self: stretch;
    vertical-align: center;
  }

  .hamburger-menu {
    flex: 0 1 50%;
    align-self: stretch;
    margin-left: auto;
  }

}

table.gsc-search-box {
  margin: auto !important;
}

.gsc-search-box {
  font-size: 1.2em;
  border: none;

  table {
    td, th {
      border: none;
    }

    td.gsc-input {
      padding: 0;

      .gsc-input-box {
        border: none;
      }
    }
  }
}

td.gsc-search-button {
  margin: 0;
  padding: 0;
}

table.gsc-search-box td.gsc-input {
  padding-right: 0 !important;

}