ul.pagination {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  overflow: hidden; }

li.page-item {
  min-width: 3em;
  min-height: 2em;
  align-items: center;
  text-align: center;
  list-style-type: none; }
  li.page-item.disabled {
    background-color: red; }

.list-item__title-link {
  background-color: rgba(255, 255, 255, 0.2); }
  .list-item__title-link > h2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0.5em 1em; }
    .list-item__title-link > h2 > a {
      display: block; }

body {
  background: no-repeat;
  background-size: contain; }
